.lang {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .lang {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .lang {
    padding-bottom: 6px;
  }
}
