.cover__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 320px) {
  .cover__subtitle {
    width: 83%;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    width: 47%;
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    width: 36%;
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    width: 30%;
  }
}
