.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .header {
    width: 90%;
    padding-top: 16px;
  }
}

@media screen and (min-width:768px) {
  .header {
    width: 94%;
    padding-top: 26px;
  }
}

@media screen and (min-width:1024px) {
  .header {
    width: 91%;
    padding-top: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 92.1%;
    padding-top: 28px;
  }
}
