.place__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px 25px;
    font-size: 16px;
    line-height: 26px;
  }
  
  .place__paragraph:last-of-type {
  margin: 0 16px 0;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 28px 25px;
    font-size: 16px;
    line-height: 26px;
    width: 340px;
  }
  
  .place__paragraph:last-of-type {
    margin: 0 28px 0;
}
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    margin: 0 28px 25px;
    font-size: 16px;
    line-height: 26px;
    width: 360px;
  }
  
  .place__paragraph:last-of-type {
    margin: 0 28px 0;
}
}