.place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 984px;
    height: 660px;
    margin: 0 auto 80px;
}

.place:first-of-type {
    margin: 92px auto 80px;
}

.place:last-of-type {
    margin: 0 auto 0;
}